<!DOCTYPE html>
<html lang="ru" dir="ltr">
<body>
<div class="page-wrapper">
    <center>
        <form action="/registration" method="post">
            <h1>Registration</h1>
            <p>
                <label>Username:</label>
                <input type="text" name="username"/>
            </p>
            <p>
                <label>Password:</label>
                <input type="password" name="password"/>
            </p>
            <p>
                <label>Confirm password:</label>
                <input type="password" name="confirm_password"/>
            </p>
            <p>
                <input type="submit" value="Sing up"/>
            </p>
        </form>
    </center>
</div>
</body>
</html>